################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/QtGuiApplication1/v15
/QtGuiApplication1/x64/Debug
/x64/Debug
/QtGuiApplication1/GeneratedFiles/Debug
/QtGuiApplication1/GeneratedFiles
